<!doctype html>
<html>
<head>
<title>Kanban board</title>
<style>
  * {
    border: 0;
    margin: 0;
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
  }

  .kanban-table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
    table-layout: fixed;
  }

  .kanban-table td, .kanban-table th {
    border: 0px solid black; 
  }

  .column {
    background-color: lightgray;
  }

  .column.in-progress {
    background-color: lightyellow;
  }

  .column.todo {
    background-color: lightblue;
  }

  .column.done {
    background-color: lightgreen;
  }
  .column-header {
    padding: 10px;
    text-align: center;
    font-size: 26px;
  }

  .card  {
    margin: 20px;
    padding: 20px;
    background-color: white;
    font-size: 18px;
  }

  .new-card  {
    margin: 20px;
    background-color: white;
  }
  .new-card-input {
    padding: 20px;
    font-size: 18px;
    width: 100%;
  }
</style>
<script src="underscore.js"></script>
<script src="zepto.js"></script>

<script>
var site = "ENTER SITE HERE";
var getColumnStyle = function (columns, i, column, width) {
  // note we are not using the supplied width
  var styleWidth = (innerWidth / columns.length)
  var styleLeft = i * styleWidth;
  var style="width: " + styleWidth + "px;"
    + " position: absolute; "
    + " left: " + styleLeft + "px; "
  return style;
}

var findClosestCardAbove = function (x, y, el) {
  var distance = 0
  for (i = y; i >= 0; i-=5) {
    var newEl = document.elementFromPoint(x, i)
    if (newEl != el && $(newEl).hasClass("card")) {
      return {card: newEl, distance: distance} 
    }
    distance += 5;
  } 
  return {card: null, distance: Infinity}
}

var findClosestCardBelow = function (x, y, el) {
  var pageHeight = $(document).height() || 5000
  var distance = 0;
  for (i = y; i <= pageHeight; i+=5) {
    var newEl = document.elementFromPoint(x, i)
    if (newEl != el && $(newEl).hasClass("card")) {
      return {card: newEl, distance: distance} 
    }
    distance += 5
  } 
  return {card: null, distance: Infinity}
}

var handleDropColumn = function (event, el) {

  // find element because you can't rely on event.target
  // because we could be dropping in the margin
  var el = document.elementFromPoint(event.clientX, event.clientY)
  //var columnIndex = el.dataset.columnIndex
  var columnIndex = $(el).closest(".column")[0].dataset.columnIndex
  // if event.dataTransfer.type == "card"
  var cardAbove = findClosestCardAbove(event.clientX, event.clientY, el)
  var cardBelow = findClosestCardBelow(event.clientX, event.clientY, el)

  if (!cardAbove.card) {
    var pos = 0
  } else if(!cardBelow.card) {
    var pos = state.columns[columnIndex].cards.length
  } else if ($(el).hasClass("card")){
    if (cardAbove.distance < cardBelow.distance) {
      var pos = el.dataset.cardIndex
    } else {
      var pos = cardBelow.card.dataset.cardIndex
    }
  } else {
    var pos = cardBelow.card.dataset.cardIndex
  }
  var info = {
    toCardIndex: pos, 
    toColumnIndex: columnIndex,
    fromCardIndex: globalDataTransfer.cardIndex, 
    fromColumnIndex: globalDataTransfer.columnIndex
  }  

  console.log(info)
  handle({cardMove: info, site: site})
}

var handle = function (event) {
  // for now the flow is: events go to server then we render based on
  // what we get back from the server
  
  socket.emit("appEvent", event) // the server has the state
  //render(kanbanApp(state, event))
}

var globalDataTransfer =  {}
var handleDragStartCard = function (event) {
  event.dataTransfer.type = "card"

  //this was working
  //event.dataTransfer.cardIndex = event.target.dataset.cardIndex
  //event.dataTransfer.columnIndex = event.target.dataset.columnIndex
  globalDataTransfer.cardIndex = event.target.dataset.cardIndex
  globalDataTransfer.columnIndex = event.target.dataset.columnIndex
}

var handleSumbitCard = function (event, columnId, columnIndex, el) {
  event.preventDefault()
  var text = $(el).find(".new-card-input").val()
  handle({site: site, newCard: {columnId: columnId, columnIndex: columnIndex, title: text}})
}


</script>

<script type="text/html" id="kanbanTemplate">

  <% _.each(columns, function (column, columnIndex) { %>
    <div data-column-index="<%= columnIndex %>" data-column-id="<%= column.id %>" class="column <%= column.id%>" ondragover="event.preventDefault()" ondrop="handleDropColumn(event, this)" style="<%= getColumnStyle(columns, columnIndex, column) %>">
      <div class="column-header" data-column-index="<%= columnIndex %>" >
         <a style="font-size: 12px;" href="javascript:handle({site: site, deleteColumn: {columnIndex: <%= columnIndex %>}}); void(0)">x</a>
        <%= column.title %>
      </div>
      <% _.each(column.cards, function (card, i) { %>
        <div class="card card-like" data-column-index="<%= columnIndex %>" data-card-index="<%= i %>" draggable="true" id="<%= card.id %>" ondragstart="handleDragStartCard(event)" ondblclick="handle({site: site, moveCardOver: {columnIndex: <%= columnIndex %>, cardIndex: <%= i %>}})">
          <a href="javascript:handle({site: site, deleteCard: {columnIndex: <%= columnIndex %>, cardIndex: <%= i %>}}); void(0)">x</a>
          <%= card.title %>
        </div> 
      <% }) %>
        <div class="new-card card-like">
          <form onsubmit="handleSumbitCard(event, '<%= column.id %>', <%= columnIndex %>, this)">
          <input type="text" class="new-card-input" data-column-index="<%= columnIndex %>"> 
        </form>
        </div> 
  <% if (columnIndex == 0) { %>
    <div class="other-boards" style="display: block;">
    Other boards:
    <% _.each(otherBoards, function (board) { if (board != site) {%> 
      <a href="http://kanban.drewles.com/<%= board %>"><%= board %></a> 
    <% } }) %>
    </div>
    <br />
    <div class="controls" style="display: block;">
      <a href="javascript:handle({site: site, addColumn: {title: prompt('Column name?')}})">Add Column</a>
      <br />
      <a href="javascript: location.href = 'http://kanban.drewles.com/' + prompt('Board name?')">Create a new board</a>
      <br />
      <a href="saved.json" target="_blank" download>Backup</a>
    </div>
  <% } %>
    </div> 
  <% }) %>


  

</script>

<script src="socket.io.js"></script>
<script src="kanban.js"></script>
</head>
<body>
  <div id="kanban"></div>

</body>
<script>
var socket = io.connect('http://drewles.com:8011');
handle({site: site})
var state
socket.on(site, function (_state) {
  state = _state
  render(state)
})
bindEvents()
</script>
</html>
